
.App {
    max-width: 1200px;
    margin: 0 auto;
}

.toggle {
    padding: 10px;
    color: white;
    background-color: red;
}

.respBody {
    background-color: black;
    color: white;
    padding: 20px;
}


.users {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}